h1{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  h2{
    color: white;
    font-family: sans-serif;
    margin-left: 80px;
  }
  
  .Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 32px 16px 32px;
      background-color: black;
      z-index: 100;
  }
  
  .Wallet{
      margin-right: 80px;
      padding: 12px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-size: 15px;
      background-color: white;
      font-weight: bolder;
  }
  
  .Wallet:hover{
    background-color: black;
    color: white;
    font-weight: bolder;
  }