
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: "Acumin Regular";
  color: white;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
  background-color: whitesmoke;
}

.app__title {
  font-family: sans-serif;
  color: black;
  font-size: 28px;
  margin-top: 5rem;
  margin-bottom: 0
}

.app__subtitle {
  font-family: sans-serif;
  color: black;
}

.highlight {
  color: black
}
