.navbar {
  text-align: right;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 1rem;
  padding-right: 0;
  z-index: 100;
  font-weight: bolder;
  font-size: 22px;
}

.navbar__item {
  margin: 0 1rem;
  font-family: sans-serif;
}

.navbar__item-last {
  margin-right: 0;
}
